body{
    background-color: lightgray;
    
}

table{
    background-color: ;
    width: 600px;
    height: 150px;
    border: 5px solid green;
    padding: 10px;
    margin: 425px 1025px;
    align-content: center;
}

td{
    margin-left: auto;
    margin-right: auto;
    border: 5px solid darkgrey;
    padding: 5p;
    align-content: center;
    height: 6px;
    width: 10px;
    margin: auto;
    text-align: center;
}

img{
    float: left;
    margin-top: -420px;
    margin-left: 5px;
}

